{% from "showlinks.html" import showlinks %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename = 'datacollection.css')}}">
  </head>
  <body>
    <div class="parent container">
       <div class="header">
           {{ showlinks ()}}
       </div>  

       <div class="formcenter container text-dark">
          <h4 class="text-center text-decoration-underline p-2">Diabetes Prediction Form</h4>

          <form class="container p-3 datacollectionform" action="{{ url_for('predict')}}"  method="post">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter Your Name</span>
                <input type="text" class="form-control" id="pregnancies" name="username" placeholder="Enter your name.">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter your Age.</span>
                <input class="form-control" type="number" name="age" placeholder="Age ( in years) eg. 34" min = "10" max = "100">
              </div>

              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter Height.</span>
                <input class="form-control" type="number" name="height" placeholder="Enter height in centimeters eg. 159" />
              </div>

              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter your Weight</span>
                <input class="form-control" type="number" name="weight" placeholder="Weight in kgs (eg. 80)" />
            </div>


            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter the Number of Pregnancies.</span>
                <input type="number" class="form-control" id="pregnancies" name="pregnancies" placeholder="Number of Pregnancies eg. 0">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">How Many Meals Do You Take per day.</span>
                <input type="number" class="form-control" name="mealsperday" placeholder="Number of meals eg. 0, 1, 3, 5" />
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">How Many Hours do you exersise every day.</span>
                <input class="form-control" type="number" name="totalexersisehours" placeholder="Exersise hours per day, eg. 1,2,4,5, etc.">
              </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter Glucose level.</span>
                <input class="form-control" type="number" name="glucose" placeholder="Glucose range between 0 to 200" min = "0" max = "200">
                <a href="{{url_for('glucosecalculator')}}" class="stretched-link btn btn-sm bg-success text-light">Calculate glucose level.</a>
            </div>


            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter Blood pressure.</span>
                <input class="form-control" type="number" name="bloodpressure" placeholder="Blood Pressure range from 0 to 122" min="0" max="122">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter Skin Thickness.</span>
                <input class="form-control" type="number" name="skinthickness" placeholder="Skin Thickness (in mm), range from 0 to 99." min = "0" max = "99" />
              </div>

              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter Insulin Level.</span>
                <input class="form-control" type="text" name="insulin" placeholder="Insulin Level (IU/mL) eg. 80" min = "0" max = "846">
              </div>

              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter Body Mass Index.</span>
                <input class="form-control" type="number" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1" min = "0.1" max = "67.99">
                <a href="{{url_for('bmicalculator')}}" class="stretched-link btn btn-sm bg-success text-light">Calculate the body mass index (BMI)</a>
              </div>

              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Enter Diabetes Pedigree Function.</span>
                <input class="form-control" type="number" name="dpf" placeholder="Diabetes Pedigree Function eg. 0.52" min = "0.078" max = "2.42">
              </div>


              <div class="input-group  input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon1">Family history of Diabetes.</span>
                <input type="number" class="form-control" name="familyhistory" placeholder="Family history for diabetes , 1 for yes, 0 for no." min="0" max="1" />
            </div>

            <div class="input-group input-group-sm mb-2">
                <span class="input-group-text">5 most frequent meals.</span>
                <input type="text" aria-label="First name" class="form-control" name = "meal1">
                <input type="text" aria-label="Last name" class="form-control"  name = "meal2">
                <input type="text" aria-label="Last name" class="form-control"  name = "meal3">
                <input type="text" aria-label="Last name" class="form-control"  name = "meal4">
                <input type="text" aria-label="Last name" class="form-control"  name = "meal5">
              </div>


            <button type="submit" class="btn btn-success btn-block btn-sm m-2">Predict</button>
              </form>
       </div>

       <div class="footer">
        <small><h6 class="text-end">Developed by - Kashi Reddy, B MEGHANA, Bangalore <br/>email : kashirerddy256@gmail.com</h6></small>
       </div> 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>